body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(116, 107, 107);
}
header {
    background: rgb(211, 117, 22);
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;

}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}
h1{
    color: darkred;
}

nav ul li a {
    color: rgb(202, 240, 33);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
section {
    padding: 60px 20px;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
}
h2{
    color: midnightblue;
}
.background-home {
    background-image: url('room\ booking\ img.jpg');
}

.background-rooms {
    background-image: url('shutterstock_30411274.jpg');
}

.background-booking {
    background-image: url('2690934.jpg');
}

.background-contact {
    background-image: url('images/contact.jpg');
}
h3{
    color: dark gold;
}
.room-card {
    
    color: goldenrod;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: left;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    
    padding: 20px;
    border-radius: 10px;
    color: saddlebrown;
}

form label {
    margin-top: 10px;
}

form input, form select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px;
    margin-top: 15px;
    
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #555;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
